---
import BlogLayout from './BlogLayout.astro';

interface Props {
  frontmatter: {
    title: string;
    pubDate: string;
    description: string;
    author: string;
    image: {
      url: string;
      alt: string;
    }
    tags: string[];
  }
}

const { frontmatter } = Astro.props;
---
<BlogLayout title={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
  <p>Written by {frontmatter.author}</p>
  <p><em>{frontmatter.description}</em></p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
  <div><strong>Tags:</strong> {frontmatter.tags.map((tag, i, arr) => <span>{tag}{i < arr.length - 1 && ", "}</span>)}</div>
</BlogLayout>